<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"
                    style="background-color:#C4C0C0; padding:10px; text-align:center"><strong>Modal
                    title</strong></h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Skills :</label>
                        <input type="skills" class="form-control" id="exampleInputEmail1"
                               placeholder="Enter Keyskills here...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Location :</label>
                        <input type="text" class="form-control" id="exampleInputPassword1"
                               placeholder="Enter Location here...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Work Experience :</label><br/>
                        <table width="100%" border="0" cellspacing="2" cellpadding="2">
                            <tr>
                                <td width="36%"><a href="#" class="dropdown-input">Select</a>
                                    <ul class="dropdown">
                                        <li><a href="#">1970</a></li>
                                        <li><a href="#">1975</a></li>
                                        <li><a href="#">2015</a></li>
                                    </ul>
                                </td>
                                <td width="22%">
                                    <button type="submit" class="btn1 btn-default">Years</button>
                                </td>
                                <td width="30%"><a href="#" class="dropdown-input">Select</a>
                                    <ul class="dropdown">
                                        <li><a href="#">1970</a></li>
                                        <li><a href="#">1975</a></li>
                                        <li><a href="#">2015</a></li>
                                    </ul>
                                </td>
                                <td width="12%">
                                    <button type="submit" class="btn1 btn-default">Months</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Job Category :</label>
                        <a href="#" class="dropdown-input">Select Area of Experience</a>
                        <ul class="dropdown">
                            <li><a href="#">1970</a></li>
                            <li><a href="#">1975</a></li>
                            <li><a href="#">2015</a></li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Industry :</label>
                        <a href="#" class="dropdown-input">Select the Industry</a>
                        <ul class="dropdown">
                            <li><a href="#">1970</a></li>
                            <li><a href="#">1975</a></li>
                            <li><a href="#">2015</a></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Job Type :</label><br/>
                        <table width="92%" border="0" cellspacing="2" cellpadding="2">
                            <tr>
                                <td width="13%">
                                    <button type="submit" class="btn1 btn-default"
                                            style="background-color:#C32B2B; color:#FFF; padding-bottom:5px; padding-top:5px">
                                        AllJobs
                                    </button>
                                </td>
                                <td width="31%">
                                    <button type="submit" class="btn1 btn-default"
                                            style="padding-bottom:5px; padding-top:5px">Company Jobs
                                    </button>
                                </td>
                                <td width="56%">
                                    <button type="submit" class="btn1 btn-default"
                                            style="padding-bottom:5px; padding-top:5px">Consultant Jobs
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Sort by :</label><br/>
                        <table width="24%" border="0" cellspacing="2" cellpadding="2">
                            <tr>
                                <td width="27%">
                                    <button type="submit" class="btn1 btn-default"
                                            style="background-color:#C32B2B; color:#FFF; padding-bottom:5px; padding-top:5px">
                                        Relevance
                                    </button>
                                </td>
                                <td width="73%">
                                    <button type="submit" class="btn1 btn-default"
                                            style="padding-bottom:5px; padding-top:5px">Date
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </div>


                    <button type="submit" class="btn1 btn-default pull-right">Search</button>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>