
<section class="facts" style="background-color:#CC1818;">
    <div class="container">
        <div class="row text-center"> Browse Jobs - <span style="color:#FFF; margin-right:15px"><a href="#"> All
            Jobs</a></span> <span style="color:#FFF; margin-right:15px"><a href="#">Jobs by Company</a></span> <span
                style="color:#FFF; margin-right:15px"><a href="#">Jobs by Category</a></span> <span
                style="color:#FFF; margin-right:15px"><a href="#">Jobs by Location </a></span> <span
                style="color:#FFF; margin-right:15px"><a href="#">Jobs by Designation</a></span> <span
                style="color:#FFF; margin-right:15px"><a href="#">Jobs by Skill</a></span></div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Best Places to Work</h2>

                <div class="tabs-container">
                    <div class="tab-nav"><a href="#" class="active">Information Technology</a> <a href="#" class="">Product</a>
                        <a href="#" class="">Services</a></div>
                    <div class="tab-holder">
                        <div class="tab" style="display: block; padding-bottom:20px;">
                            <h4><strong>Information Technology</strong></h4>

                            <div class="row">
                                <div class="col-md-4">
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
                                </div>

                                <div class="col-md-4">
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
                                </div>

                                <div class="col-md-4">
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
                                </div>

                            </div>
                        </div>
                        <div class="tab" style="display: none;">
                            <div class="row">
                                <div class="col-md-4">
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
                                </div>

                                <div class="col-md-4">
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
                                </div>

                                <div class="col-md-4">
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
                                </div>

                            </div>
                        </div>
                        <div class="tab" style="display: none;">
                            <div class="row">
                                <div class="col-md-4">
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
                                </div>

                                <div class="col-md-4">
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
                                </div>

                                <div class="col-md-4">
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
              <span><ul>
                  <li>ChipDsg/Semicond.</li>
                  <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                  <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                      An Alten Company </a></li>
                  <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                  <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                  <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                  <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                  <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                  <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                  <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                  <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                  <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                  <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
              </ul></span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right"><a href="#"><i class="fa fa-angle-double-right"></i> see
                                all jobs</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"> <span>
      <img src="assets/img/adds.jpg" width="170"></span>
                <hr/>
                <span><img src="assets/img/adds.jpg" width="170"></span></div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <h4 class="heading no-margin"><strong>Jobs by Function</strong></h4>

                <p>
                <ul>

                    <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                    <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                        An Alten Company </a></li>
                    <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                    <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                    <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                    <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                    <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                    <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                    <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                    <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                    <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                    <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
                </ul>
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 text-left">

                <h4 class="heading no-margin"><strong>IT Job Skills</strong></h4>

                <p>
                <ul>

                    <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                    <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                        An Alten Company </a></li>
                    <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                    <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                    <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                    <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                    <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                    <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                    <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                    <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                    <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                    <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
                </ul>
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 text-left">
                <h4 class="heading no-margin"><strong>Non IT Job Skills</strong></h4>

                <p>
                <ul>

                    <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                    <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                        An Alten Company </a></li>
                    <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                    <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                    <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                    <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                    <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                    <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                    <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                    <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                    <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                    <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
                </ul>
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 text-left">
                <h4 class="heading no-margin"><strong>Non IT Job Skills</strong></h4>

                <p>
                <ul>

                    <li><a title="Avago Technologies" href="#" target="_blank">Avago Technologies</a></li>
                    <li><a title="Calsoft Labs, An Alten Company " href="#" target="_blank">Calsoft Labs,<br>
                        An Alten Company </a></li>
                    <li><a title="e-Infochips" href="#" target="_blank">e-Infochips</a></li>
                    <li><a title="Intel " href="#" target="_blank">Intel </a></li>
                    <li><a title="Marvell" href="#" target="_blank">Marvell</a></li>
                    <li><a title="MAXIM Integrated " href="#" target="_blank">MAXIM Integrated </a></li>
                    <li><a title="QLOGIC" href="#" target="_blank">QLOGIC</a></li>
                    <li><a title="Sankalp Semiconductors" href="#" target="_blank">Sankalp Semiconductors</a></li>
                    <li><a title="Semtech Advanced Systems" href="#" target="_blank">Semtech Advanced Systems</a></li>
                    <li><a title="SMARTPLAY" href="#" target="_blank">SMARTPLAY</a></li>
                    <li><a title="SYNAPSE DESIGN" href="#" target="_blank">SYNAPSE DESIGN</a></li>
                    <li><a title="XILINX" href="#" target="_blank">XILINX</a></li>
                </ul>
                </p>

            </div>


        </div>


    </div>

    <div class="row bottom no-padding no-margin">
        <div class="container">
            <div class="col-md-12 no-padding text-left column-bottom">
                <p align="center" style="color:#FFF">Copyright &copy; JOBERS - 2015 | All right reserved</p>
            </div>
        </div>
    </div>
</footer>