<header>
    <job-search></job-search>
    <div class="col-md-3 col-md-offset-6 col-sm-12 col-xs-12 headerlinks">
        <table width="90%" border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td><a ui-sref="login" ><img src="assets/img/sign-in.jpg" width="321" height="142"></a></td>
                <td rowspan="2"><a href="#"><img src="assets/img/recruter.jpg" width="321" height="286"></a></td>
            </tr>
            <tr>
                <td><a ui-sref="signup"><img src="assets/img/sign-up.jpg" width="321" height="144"></a></td>
            </tr>
        </table>
    </div>
    </div>
<header-slider></header-slider>
</header>