<form name="jobSearchForm" class="col-md-3 col-md-offset-3 col-sm-6 col-xs-12 job-form">
    <h2 align="center">What Your Looking For? </h2>
    <input type="text" class="form-control white" ng-model="searchForm.skill" placeholder="Skills, Designation...">
    <input type="text" class="form-control white" ng-model="searchForm.location" placeholder="Preferred Location">
    <input type="text" class="form-control white" ng-model="searchForm.experience" placeholder="Total Experience">
    <button type="submit" class="btn dark-red" style="text-align:center; margin-left:70px" ng-disabled="!enableSearchJob"> Search for a job <i
            class="fa fa-chevron-right"></i></button>
    <h3 style="font-size:18px; text-align:center" data-toggle="modal" data-target="#myModal">Advanced Search </h3>
</form>
<!-- Button trigger modal -->
<div ng-include="'employee/partials/advanced_job_search_modal.html'"></div>