<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-6"><img src="img/expressions_website7.gif" width="550""></div>
            <div class="col-xs-6" style="border: 1px solid #CC1818; background-color:#DEDEDE">
                <p>

                <h3 style="text-align:center;">Already a member? SIGNIN</h3></p>
                <form>
                    <div class="col-md-12">

                        <input type="text" name="name" ng-model="user.username" class="form-control normal" placeholder="Your Name">
                    </div>

                    <div class="col-md-12">

                        <input type="Password" name="name"  ng-model="user.password" class="form-control normal" placeholder="Password">
                    </div>
                    <div class="col-xs-6">
                        <label>
                            <input type="checkbox"  ng-model="user.remember" value="remember-me"> Remember me
                        </label>
                    </div>
                    <div class="col-xs-6 pull-right" style="text-align:right"><a href="#">Forgot Password?</a></div>
                    <div class="col-md-12 ">
                        <button type="submit" class="btn dark-red pull-right" ng-click="login(user)"> Signin <i
                                class="fa fa-chevron-right"></i></button>
                    </div>
                    <div class="col-md-12" style="height:1px; background-color:#999; margin-top:10px"></div>

                    <div class="col-md-12" style="padding-top:5px">
                        Sign in using :
                    </div>
                    <div class="col-md-12" style="padding-top:5px; text-align:center">
                        <img src="img/fb.png" width="43" height="40"> <img src="img/gplus.png" width="43" height="39">
                        <img src="img/linkedin.png" width="43" height="41"></div>
                    <div class="col-md-12" style="height:1px; background-color:#999; margin-top:10px"></div>
                    <div class="col-md-12" style="padding-top:5px; margin-bottom:20px">
                        New to Jobers??? Become a member.<br/>

                        <button type="submit" class="btn dark-red pull-right"> Signup <i
                                class="fa fa-chevron-right"></i></button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>